<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitewide Alert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Sitewide Alert</h1>
        <form action="/admin/sitewide_alert" method="post">
            <div class="form-group">
                <label for="alert_message">Alert Message</label>
                <input type="text" class="form-control" id="alert_message" name="alert_message" required>
            </div>
            <button type="submit" class="btn btn-warning">Send Alert</button>
        </form>
    </div>
</body>
</html>